<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
 <head>
  	<meta charset="UTF-8"/>

  	<title id="NSI">Sommaire</title>

  	<meta name="author" content="Enzo Frémeaux"/>

  	<meta name="keywords" content="Les évenement mondiaux du jeux vidéo"/>
    <link rel="stylesheet" type="text/css" href="./css/index.css"/>
    <link rel="stylesheet" type="text/css" href="./css/commune.css"/>
  </head>
<body>
  <header>
    <h1 id="Sommaire">Les évenement mondiaux du Jeux vidéo</h1>
  </header>
  <nav class="1">
	<ol>
		<li><a href="./index.html">Sommaire </a></li>
		<li><a href="./html/France.html">France</a></li>
		<li><a href="./html/Japon.html">Japon</a></li>
		<li><a href="./html/USA.html">USA</a></li>
	</ol>
</nav>
<nav class="2">

   <p><a href="./index.html">Sommaire </a>
      <a href="./html/France.html">France </a>
      <a href="./html/Japon.html">Japon </a>
      <a href="./html/USA.html">USA </a></p>
</nav>
      <article>
        <button id="but" onclick="change_couleur()"> Appuyer ici pour changer la couleur de #test </button>
        <h3 id="test"> Histoire des jeux vidéos</h3>
        <p>L'Histoire du jeu vidéo débute dans les années <time>1950</time>,
           où <strong>l'idée du jeu vidéo naît au sein des universités lors
           de recherches sur l'informatique.</strong> Les jeux vidéo ne se font
           connaitre du grand public qu'à partir des années 1970 avec la
           commercialisation des premières bornes d'arcade ainsi que les
           consoles de jeu vidéo, pouvant faire tourner une dizaine de jeux
           simplistes. Le jeu vidéo devient alors une industrie, évoluant avec
           la technologie et marqué par un krach en <time>1983</time>, à la suite de
           l'inondation des modèles sur le marché après le boom des années <time>1970</time>.</p>

         <p>En <time>2016</time>, huit générations de consoles se sont succédé, la dernière étant composée
            de la Wii U, la Nintendo 3DS, la Playstation 4, la Playstation Vita et enfin la Xbox One.
            L'Histoire du jeu vidéo s'étend également sur PC, qui représente aujourd'hui une forte proportion
            du marché et qui prend de plus en plus de place grâce à la distribution dématérialisée, via Steam
            notamment. Depuis les années <time>2010</time>, le jeu vidéo se développe également sur smartphone, grâce à des
            appareils de plus en plus puissants et des écrans de plus en plus grand, permettant le développement
            de jeux du même acabit que ceux des années <time>2000</time> sur consoles portables.</p>
       </article>

        <article>
          <h3> Qu'est ce qu'un Jeux vidéo ?</h3>
          <p>Un jeu vidéo est un jeu électronique qui implique une interaction
            humaine avec une interface utilisateur dans le but de générer un
            retour visuel sur un dispositif vidéo. Le joueur de jeu vidéo
            dispose de périphériques pour agir sur le jeu et percevoir les
            conséquences de ses actes sur <strong>l'environnement virtuel</strong>. Le mot <em>«
            vidéo »</em> dans le jeu vidéo, fait traditionnellement référence à
            un dispositif d'affichage de trame, mais à la suite de la
            vulgarisation du terme il implique désormais tout type de dispositif d'affichage.
          </p>
        </article>


     <article>
       <h3>Le monde du Jeux vidéo aujourd'hui</h3>
       <p> Aujourd'hui de nombreux evenement ont lieux partout dans le monde pour rassembler les joueurs
         leur faire découvrir des jeux inédit, des conference ont lieu, et des test
         de nouveux jeux pevent ce faire. Beaucoup de Pays s'y prête afin de faire plaisir
         a leur joueur et aussi de se faire de la pub et en attiré d'autre pour le tourisme notament.
         Des pays comme le Japon, la France, les <abbr title="Etat Unis">USA</abbr> crée ces évenement
         devenus <em>mondiaux</em>
       </p>
     </article>
<footer>
	<p> "It's me Mario!" <a href="https://www.youtube.com/watch?v=KLgDjeW_aqw" target="_blank"><img src="./images/Thanks.jpg"
	 width="150"
	 alt="Mario" /> </a> </p>

  <a href="https://fr.wikipedia.org/wiki/Accueil" target="_blank"> Info sur wikipedia</a>
</footer>
<script src="./javascript/script.js"></script>
</body>





</html>
