<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
  	<meta charset="UTF-8"/>

  	<title>France</title>

  	<meta name="author" content="Enzo Frémeaux"/>

  	<meta name="keywords" content="Evenement en FR"/>
    <link rel="stylesheet" type="text/css" href="../css/commune.css"/>
    <link rel="stylesheet" type="text/css" href="../css/page.css"/>
  </head>
<body>
  <header class="FR">
  <h1>La France et la Paris Games Week</h1>

  </header>

  <nav class="1">
  <ol>
    <li><a href="../index.html">Sommaire </a></li>
    <li><a href="../html/France.html">France</a></li>
    <li><a href="../html/Japon.html">Japon</a></li>
    <li><a href="../html/USA.html">USA</a></li>
  </ol>
  </nav>
  <nav class="2">

     <p><a href="../index.html">Sommaire </a>
        <a href="../html/France.html">France </a>
        <a href="../html/Japon.html">Japon </a>
        <a href="../html/USA.html">USA </a></p>
  </nav>



<article>
<h3>La <abbr title="Paris Games Week">PGW</abbr></h3>
<figure><img src="../images/CarteFrance.jpg"
	 width="300"
	 alt="France dans l'Europe" />
 <figcaption>France dans l'Europe</figcaption> </figure>

<figure><img src="../images/PGW.jpg"
	 width="300"
	 alt="Paris Games Week" />
<figcaption>PGW stand PS4</figcaption>
 </figure>


	 <p>
	 <strong>La Paris Games Week</strong> (abrégé PGW) est un salon annuel dédié aux jeux vidéo,
	créé en 2008, dont la première édition s'est déroulée du 27 au 31 octobre 2010
	et est organisé par le Syndicat des éditeurs de logiciels de loisirs (SELL).
	La décision de créer ce salon a été prise par ce dernier, voyant que le salon majeur
	du jeu vidéo en France, le Festival du Jeu Vidéo, malgré son succès, ne correspondait
	pas à ses attentes1. Avec 307 000 visiteurs pour l'édition de 2015, le salon est désormais
	membre du Top 5 mondial des salons de jeux vidéo, derrière <em>L'E3</em> aux États-Unis (480 900 profe
	ssionnels en <time>2014</time>), la Taipei Game Show (430 000 visiteurs en 20153), la gamescom en Allemagne
	(345 000 visiteurs en <time>2015</time>)2 et devant le Tokyo Game Show (252 000 visiteurs en 2014).
	 </p>
</article>

<article>
<h3> La France et le jeux vidéo  </h3>
<p>
La france est un pays important pour le jeux vidéo, même si ce n'est pas le plus gros dévellopeur de jeux il possède quelques boîtes comme celle de DOFUS,
ou même les certains studio Ubisoft qui concoivent aujourd'hui des jeux très demandé de la part des joueurs.
L'année <time>2016</time> fut une année très chargé en vu du contenue produit par les dévellopeurs.
</p>
</article>




<article>
<h3>TOP 5 des jeux les plus vendu en France en 2016</h3>
<table>
  <thead>
	<tr>
		<th>Place</th>
		<th>Nom du jeux</th>
		<th>Ventes</th>
		<th>Console</th>
	</tr>
	</thead>
  <tfoot>
	<tr>
		<td>Gagnant :</td>
		<td>The division</td>
		<td>500 000</td>
		<td>PC/PS4/XBOX</td>
	</tr>
  </tfoot>
  <tbody>

	<tr>
		<td>1</td>
		<td class="lien"><a href="https://tomclancy-thedivision.ubisoft.com/game/fr-fr/home/" target="_blank">The division</a></td>
		<td>500 000</td>
		<td>PC/PS4/XBOX</td>
	</tr>
	<tr>
		<td>2</td>
		<td class="lien"><a href="https://www.unchartedthegame.com/en-us/" target="_blank">Uncharted 4</a></td>
		<td>400 000</td>
		<td>PS4</td>
	</tr>
	  <tr>
		<td>3</td>
		<td class="lien"><a href="https://far-cry.ubisoft.com/primal/fr-fr/home/" target="_blank">Far cry primals</a></td>
		<td>300 000</td>
		<td>PC/PS4/XBOX</td>
	</tr>
	  <tr>
		<td>4</td>
		<td class="lien"><a href="https://www.callofduty.com/fr/blackops3" target="_blank">COD BO3</a></td>
		<td>200 000</td>
		<td>PC/PS4/XBOX</td>
	</tr>

	<tr>
		<td>5</td>
		<td class="lien"><a href="https://www.easports.com/fr/fifa" target="_blank">FIFA 16</a></td>
		<td>100 000</td>
		<td>PC/PS4/XBOX</td>
	</tr>
  </tbody>
</table>
	<h4>5ème place : FIFA 16 </h4>
	<p>
	La France est fan de foot depuis toujours et encore une fois la licence FIFA s'impose de pied ferme dans ce classement! (PS/XBOX/PC)
	</p>

	<h4>4ème place : Call of duty Black ops 3</h4>
	<p>
	 La série a succés "CALL OF DUTY" toujours présente chez les joueurs francais garde une place importante dans ce top!(PS/XBOX/PC)
	</p>

	<h4>3ème place : Far cry primals</h4>
	<p>
	Un FPS du studio Ubisoft évoqué précedement, celui ci poursuis la licence far cry avec un retour dans l'ère de la Préhistoire ! Pari réussis.(PS/XBOX/PC)
	</p>

	<h4>2ème place : Uncharted 4</h4>
	<p>
	Une très belle surprise pour cette exclu PS4, ce jeux au très beau graphisme et une experience de jeu inédite s'impose dans ce top! (PS)
	</p>

	<h4>1ère place : The division</h4>
	<p>
	Encore un jeu d'Ubisoft dans ce top qui montre le travail du studio récompensé des joueurs. Un jeu a la 3e personne qui en ravis plus d'un !(PS/XBOX/PC)
	</p>
</article>
<footer>
	<p> "It's me Mario!" <a href="https://www.youtube.com/watch?v=KLgDjeW_aqw" target="_blank"><img src="../images/Thanks.jpg"
	 width="150"
	 alt="Mario" /> </a> </p>
   <a href="https://fr.wikipedia.org/wiki/Accueil" target="_blank"> Info sur wikipedia</a>
</footer>

</body>
</html>
