<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
  	<meta charset="UTF-8"/>

  	<title>Japon</title>

  	<meta name="author" content="Enzo Frémeaux"/>

  	<meta name="keywords" content="Evenement au Japon"/>

    <link rel="stylesheet" type="text/css" href="../css/commune.css"/>
    <link rel="stylesheet" type="text/css" href="../css/page.css"/>
  </head>
<body>
  <header class="JAP">
  <h1>Le Japon et le Tokio Game Show</h1>

  </header>

  <nav class="1">
  <ol>
    <li><a href="../index.html">Sommaire </a></li>
    <li><a href="../html/France.html">France</a></li>
    <li><a href="../html/Japon.html">Japon</a></li>
    <li><a href="../html/USA.html">USA</a></li>
  </ol>
  </nav>

 <nav class="2">

		<p><a href="../index.html">Sommaire </a>
		   <a href="../html/France.html">France </a>
		   <a href="../html/Japon.html">Japon </a>
		   <a href="../html/USA.html">USA </a></p>
</nav>



<article>
<h3>Le <abbr title="Tokio Games Show">TGS</abbr></h3>


<figure>
<img src="../images/CarteJapon.jpg"
	 width="300"
	 alt=" Le Japon dans le monde" />
   <figcaption> Le Japon dans le monde</figcaption>
</figure>
<figure>
  <img src="../images/TGS.png"
  	 width="300"
  	 alt="Tokio Games Show" />
     <figcaption>Tokio Games Show</figcaption>
</figure>


	 <p>
	<strong>Le Tokyo Game Show</strong> (TGS) est un salon de jeu vidéo ayant lieu tous les ans depuis 1996 en
	septembre au Makuhari Messe de Chiba non loin de Tokyo. Il est organisé par le Computer Entertainment Supplier's Association (CESA).
	Le premier jour du salon, un vendredi, est toujours réservé aux professionnels du
	secteur alors que les deux jours suivants sont ouverts au public.
	Autrefois, ce salon était semestriel. La session de printemps a été arrêtée par un manque
	de participation dû aux coûts d’organisation en constante augmentation et au fait qu'il était trop proche du salon de l'E3.
	 </p>
</article>

<article>
<h3> Le Japon et le jeux vidéo  </h3>
<p>
Le japon est l'un des pays fondateurs du jeux vidéo, il a présenté au joueurs les première consoles qui ont marqué les joueurs.
Aujourd'hui le JAPON compte 2 des grandes boites du moment.
Nintendo et Sony qui propose en 2016 3 consoles importante dans le marché, la PS4 (Sony), la WII U et 3DS(Nintendo)
</p>
</article>
<article>
 <h3>TOP 5 des jeux les plus vendu au Japon en 2016</h3>
<table>
  <thead>
	<tr>
		<th>Place</th>
		<th>Nom du jeux</th>
		<th>Ventes</th>
		<th>Console</th>
	</tr>
	</thead>
  <tfoot>
	<tr>
		<td>Gagnant :</td>
		<td>Dragon Quest</td>
		<td>500 000</td>
		<td>3DS</td>
	</tr>
  </tfoot>
  <tbody>

	<tr>
		<td>1</td>
		<td class="lien"><a href="http://dragonquest.nintendo.com/fr/" target="_blank">Dragon Quest</a></td>
		<td>500 000</td>
		<td>3DS</td>
	</tr>
	<tr>
		<td>2</td>
		<td class="lien"><a href="http://kirby.nintendo.com/triple-deluxe/fr/" target="_blank">Kirby PR</a></td>
		<td>400 000</td>
		<td>3DS</td>
	</tr>
	  <tr>
		<td>3</td>
		<td class="lien"><a href="http://www.capcom.co.jp/monsterhunter/X/" target="_blank">Monster Hunter X</a></td>
		<td>300 000</td>
		<td>3DS</td>
	</tr>
	  <tr>
		<td>4</td>
		<td class="lien"><a href="http://yokaiwatch.wikia.com/wiki/Yo-kai_Sangokushi" target="_blank">Yokai Sangokushi</a></td>
		<td>200 000</td>
		<td>3DS</td>
	</tr>

	<tr>
		<td>5</td>
		<td class="lien"><a href="https://www.darksouls3.com/fr/" target="_blank">Darks Souls 3</a></td>
		<td>100 000</td>
		<td>PC/PS4/XBOX</td>
	</tr>
  </tbody>
</table>
	<h4>5ème place : Dark Souls 3 </h4>
	<p>
	Jeux réputé pour sa difficulté celui ci s'impose avec un 3e opus.
	Redouter mais apprécier, il est l'un des jeux les plus compliqué de
	sa génération(PS4/XBOX/PC)
	</p>

	<h4>4ème place : Kirby Planet Robobot </h4>
	<p>
	 Jeux connus des plus agés comme des plus jeunes, il permet d'incarner le héros rose. Un jeux a succé! (3DS)
	</p>

	<h4>3ème place : Monster Hunter X </h4>
	<p>
	Un jeu de chasse, avec la possibilité d'incarner Felynes notre compagnon. Jeu très connu des joueurs. (3DS)
	</p>

	<h4>2ème place : yokai sangokushi</h4>
	<p>
	Une très belle surprise pour cette exclu PS4, ce jeux au très beau graphisme et une experience de jeu inédite s'impose dans ce top! (Ps4)
	</p>

	<h4>1ère place : Dragon Quest Monster Joker 3 </h4>
	<p>
	Issue de la serie Dragon quest celui ci s'impose dans ce top, il est le jeu le plus apprécié des joueurs cette année!(3DS)
	</p>
</article>
<footer>
	<p> "It's me Mario!" <a href="https://www.youtube.com/watch?v=KLgDjeW_aqw" target="_blank"><img src="../images/Thanks.jpg"
	 width="150"
	 alt="Mario" /> </a> </p>
   <a href="https://fr.wikipedia.org/wiki/Accueil" target="_blank"> Info sur wikipedia</a>
</footer>
</body>

</html>
