<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
  	<meta charset="UTF-8"/>

  	<title>USA</title>

  	<meta name="author" content="Enzo Frémeaux"/>

  	<meta name="keywords" content="Evenement au USA"/>
    <link rel="stylesheet" type="text/css" href="../css/commune.css"/>
    <link rel="stylesheet" type="text/css" href="../css/page.css"/>
  </head>
<body>
  <header class="USA">
  <h1>Les USA et l' E3</h1>

  </header>
  <nav class="1">
  <ol>
    <li><a href="../index.html">Sommaire </a></li>
    <li><a href="../html/France.html">France</a></li>
    <li><a href="../html/Japon.html">Japon</a></li>
    <li><a href="../html/USA.html">USA</a></li>
  </ol>
  </nav>
  <nav class="2">

 		<p><a href="../index.html">Sommaire </a>
 		   <a href="../html/France.html">France </a>
 		   <a href="../html/Japon.html">Japon </a>
 		   <a href="../html/USA.html">USA </a></p>
 </nav>



<article>
<h3>L'<abbr title="Electronic Entrainment Expo">E3</abbr></h3>
<figure><img src="../images/CarteUSA.jpg"
	 width="300"
	 alt="USA dans le monde" />
<figcaption>USA dans le monde</figcaption>
 </figure>

<figure><img src="../images/E3.jpg"
	 width="300"
	 id="E3"
	 alt="Electronic Entertainment Expo" />
<figcaption> E3 stand XBOX</figcaption>
 </figure>


	 <p>
	<strong>L’Electronic Entertainment Expo</strong>, plus connu sous le nom de E3 ou
	E3, est le plus grand salon international du jeu vidéo et des loisirs interactifs.
	Il se déroule aux États-Unis. À la suite d'une refonte du salon, après l'édition 2006,
	son nom avait été modifié pour devenir l'E3 Media and Business Summit lors des éditions 2007 et 2008.
	Il est organisé chaque année par la Entertainment Software Association (ESA). Ce salon annuel,
	exclusivement réservé aux professionnels du secteur et aux journalistes, se tient au début du mois de
	juin au Los Angeles Convention Center à Los Angeles. Il s'étale sur trois jours ; des conférences pré-E3
	se tiennent les jours précédant le salon, et mettant à l'honneur les constructeurs de machines (Nintendo,
	Sony et Microsoft) et les éditeurs (EA, Activision, Ubisoft, entre autres). Ces conférences sont généralement
	diffusées en direct en streaming sur internet ainsi que sur la chaîne de télévision américaine G4 TV, la chaîne
	française Nolife ou encore Game One qui diffusent et organisent des émissions en direct du salon.
	 </p>
</article>

<article>
<h3> Les USA et le jeux vidéo  </h3>
<p>
Les USA sont avec leur grandre puissance économique l'un des pays les plus important des jeux vidéo,
beaucoup de grand studios y sont installé comme EA ou certains studio Ubisoft.
Le géant Microsoft y est aussi implanté avec sa console du moment la <em>XBOX ONE</em>.
</p>
</article>
<article>
<h3>TOP 5 des jeux les plus vendu au USA en 2016</h3>
<table>
  <thead>
	<tr>
		<th>Place</th>
		<th>Nom du jeux</th>
		<th>Ventes</th>
		<th>Console</th>
	</tr>
	</thead>
  <tfoot>
	<tr>
		<td>Gagnant :</td>
		<td>Uncharted 4</td>
		<td>500 000</td>
		<td>PS4</td>
	</tr>
  </tfoot>
  <tbody>

	<tr>
		<td>1</td>
		<td class="lien"><a href="https://www.unchartedthegame.com/en-us/" target="_blank">Uncharted 4</a></td>
		<td>500 000</td>
		<td>PS4</td>
	</tr>
	<tr>
		<td>2</td>
		<td class="lien"><a href="http://doom.com/fr-fr/" target="_blank">Doom</a></td>
		<td>400 000</td>
		<td>PS4/XBOX/PC</td>
	</tr>
	  <tr>
		<td>3</td>
		<td class="lien"><a href="https://playoverwatch.com/fr-fr/" target="_blank">Overwatch</a></td>
		<td>300 000</td>
		<td>PS4/XBOX/PC</td>
	</tr>
	  <tr>
		<td>4</td>
		<td class="lien"><a href="https://battleborn.com/fr/" target="_blank">Battleborn</a></td>
		<td>200 000</td>
		<td>PS4/XBOX/PC</td>
	</tr>

	<tr>
		<td>5</td>
		<td class="lien"><a href="http://www.grandtheftauto5.fr/" target="_blank">GTA 5</a></td>
		<td>100 000</td>
		<td>PC/PS4/XBOX</td>
	</tr>
  </tbody>
</table>
	<h4>5ème place : GTA 5 </h4>
	<p>
	Ayant battut des records de ventes des les
	premiers jours de sa sortie GTA V s'implante très bien dans
	ce top, il est l'un des jeux les plus apprécué et
	attendu des joueurs (PS4/XBOX/PC)
	</p>

	<h4>4ème place : Battleborn </h4>
	<p>
	MOBA, FPS ce jeux possède plusieurs genre qui lui
	accédent un franc succés. Il s'installe a la 4e
	place de ce top avec un très bon retour des joueurs.(PS4/XBOX/PC)
	</p>

	<h4>3ème place : Overwatch </h4>
	<p>
	Jeux du studio Blizzard celui ci réinvente les règle du FPS avec des héros tous differents, la
	competition y est très recherché et en fait un jeux très jouer.
	(PS4/XBOX/PC)
	</p>

	<h4>2ème place : Doom</h4>
	<p>
	Jeu mythique, joué sur des anciennes console il revient plus gore qu'auparavant.
	Il a su garder les règles de l'ancien opus
	adaptée a un public plus moderne. Ce qui montre son
	succés aujourd'hui.
	(PS4/XBOX/PC)
	</p>

	<h4>1ère place : Uncharted 4 </h4>
	<p>
	Exclusivité PS4, ce jeux très apprecié des joueurs offre une experience inédite.
	Couplé a des graphisme optimisé au maximum pour la console de sony, celui ci mérite sa place dans ce top.(PS4)
	</p>
</article>
<footer>
	<p> "It's me Mario!" <a href="https://www.youtube.com/watch?v=KLgDjeW_aqw" target="_blank"><img src="../images/Thanks.jpg"
	 width="150"
	 alt="Mario" /> </a> </p>
   <a href="https://fr.wikipedia.org/wiki/Accueil" target="_blank"> Info sur wikipedia</a>
</footer>
</body>
</html>
